# used by CI/CD testing
openai==3.16.2
python-dotenv
tiktoken
importlib_metadata
cohere
redis==8.1.0
redisvl==0.27.2
anthropic
orjson==3.12.0 # fast /embedding responses
pydantic==2.13.5
google-cloud-aiplatform==2.1.3
google-cloud-iam==2.25.0
fastapi-sso==0.22.0 
uvloop==0.22.1
mcp==2.2.0    # for MCP server  
semantic_router==0.1.10 # for auto-routing with litellm
fastuuid==0.14.0
responses==0.26.3  # for proxy client tests